<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<div class="rain"></div>

<style>

    .rain{
        width:8px;
        height:8px;
        border-radius:50%;
        background-color:aqua;
        position:absolute;
        top:-8px;
    }

    @keyframes fall{
        from{
        }
        to{
            transform:translateY(90vh);
            opacity:0;
        }

    }
</style>

<script>
    const body=document.querySelector("body");

    const MIN_DURATION=10;

    function makeRain(){
        const rainEffect = document.createElement("div");
        const delay=Math.random()*10;
        const initialOpacity=Math.random();
        const duration=Math.random()*20+MIN_DURATION;

        rainEffect.classList.add("rain");
        rainEffect.style.left=`${Math.random()*window.screen.width}px`;
        rainEffect.style.animationDelay=`${delay}s`;
        rainEffect.style.opacity=initialOpacity;
        rainEffect.style.animation=`fall ${duration}s linear`;


        body.appendChild(rainEffect);

        setTimeout(()=>{
            body.removeChild(rainEffect);
            makeRain();
        },(duration+delay)*1000);

    }

    makeRain();
    for(let index=0;index<50;index++){
        setTimeout(makeRain,500*index);
    }
</script>
<body></body>
<br>
<br>
<br>
<br>
<br>