<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<th:block th:replace="layout/header :: headerFragment"></th:block>
<div>

    <form class="container">
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true"
                style="font-size: 30px;font-weight: bold" th:text="${post.title}">{{title}}
            </li>

            <th:block th:if="${post.isModified != null}">
                <li class="list-group-item">
                        <span>
                    <span style="font-size: 20px;font-weight: bold;" th:text="${post.userName}">{{userName}}</span>
                    <span style="font-size:10px" th:text="|${post.lastModifiedAt} ${post.isModified}|"> {{lastModifiedAt}} {{isModified}}</span>
                </span>
                </li>
            </th:block>
            <th:block th:if="${post.isModified == null}">
                <li class="list-group-item">
                        <span>
                    <span style="font-size: 20px;font-weight: bold;" th:text="${post.userName}">{{userName}}</span>
                    <span style="font-size:10px" th:text="${post.createdAt}">{{createdAt}}</span>
                </span>
                </li>
            </th:block>

            <li class="list-group-item" style="height: 500px;white-space: pre" th:text="${post.body}"> {{body}}</li>
            <br>
        </ul>
        </tbody>
        </table>
    </form>

    <div align="center">
        <form class="container">
            <button type="button" class="btn btn-outline-secondary btn-lg" id="like-btn"
                    th:onclick="|main.likeCreate(${post.id})|"
                    style="width:60px;height:50px;font-size: 20px">❤
            </button>
            <button type="button" class="btn btn-secondary btn-lg"
                    style="width:60px;height:50px;font-size: 20px" th:text="${post.likeNum}">{{likeNum}}
            </button>
        </form>
    </div>

    <br>

    <div align="center">

        <div style="display: inline-block">
            <form class="container" th:action="@{/posts/modify/{postId}(postId=${post.id})}" th:method="get">
                <button type="submit" class="btn btn-primary btn-lg"
                        style="width:120px;height:40px;font-size: 15px">게시글 수정
                </button>
            </form>
        </div>


        <div style="display: inline-block">
            <form class="container">
                <button type="button" class="btn btn-danger btn-lg" id="post-delete-btn"
                        th:onclick="|main.postDelete(${post.id})|"
                        style="width:120px;height:40px;font-size: 15px">게시글 삭제
                </button>
            </form>
        </div>

        <div style="display: inline-block">
            <form class="container" form action="/posts" method="get">
                <button class="btn btn-success btn-lg" type="submit"
                        style="width:120px;height:40px;font-size: 15px">게시글 목록
                </button>
            </form>
        </div>
    </div>

</div>


<br>
<hr>
<div class="container">
    <div class="card border-primary mb-3">
        <div class="card-header bi bi-chat-dots" th:text="|${comments.numberOfElements} Comments|">
            {{#comments.size}}{{comments.numberOfElements}}{{/comments.size}}
            Comments
        </div>

        <ul class="list-group-flush">
            <th:block th:each="comment : ${comments}">
                <li th:id="|comments-${comment.id}|" class="list-group-item">
                <span>
                    <span style="font-size: 15px;font-weight: bold;" th:text="${comment.userName}">
                        {{userName}}
                    </span>
                     <th:block th:if="${post.isModified == null}">
                        <span style="font-size: xx-small;" th:text="${comment.createdAt}">{{createdAt}}
                        </span>
                     </th:block>

                    <th:block th:if="${post.isModified != null}">
                        <span style="font-size: xx-small;">{{lastModifiedAt}} {{isModified}}
                        </span>
                    </th:block>



                    <a type="button" class="comment-edit-btn" data-toggle="collapse"
                       th:attr="data-target='.multi-collapse-'+${comment.id}"
                       style="font-size: xx-small;">수정</a>

                    <a class="accordion-button collapsed" type="button" style="font-size: xx-small;color: darkred;"
                       th:onclick="|main.commentDelete(${post.id},${comment.id})|">
                        삭제
                    </a>

                    <div th:text="${comment.comment}">{{comment}}</div>


                    <a type="button" class="comment-reply-btn" data-toggle="collapse"
                       th:attr="data-target='#multi-collapse-reply-'+${comment.id}" style="font-size: xx-small;"
                       th:text="'▼'+| 댓글의 댓글 ${comment.replysSize}|">▼ 댓글의 댓글 {{replysSize}}
                        개</a>


                    <div class="collapse-group">
                        <form class="collapse" th:id="|multi-collapse-reply-${comment.id}|">
                            <ul class="list-group-flush">
                             <th:block th:each="reply : ${comment.replys}">
                                <li th:id="|reply-comments-${comment.id}|" class="list-group-item">

                <span>

                    <span style="font-size: 15px;font-weight: bold;" th:text="${reply.userName}">{{userName}}</span>
                           <th:block th:if="${post.isModified == null}">

                        <span style="font-size: xx-small;" th:text="${reply.createdAt}">{{createdAt}}</span>
                           </th:block>
                                 <th:block th:if="${post.isModified != null}">

                        <span style="font-size: xx-small;" th:text="|${reply.lastModifiedAt} ${reply.isModified}|">{{lastModifiedAt}} {{isModified}}</span>
                           </th:block>

                        </span>

                                    <a type="button" class="comment-reply-edit-btn" data-toggle="collapse"
                                       th:attr="data-target='#multi-collapse-reply-edit-'+${reply.id}"
                                       style="font-size: xx-small;">수정</a>

                                    <a class="accordion-button collapsed" type="button"
                                       style="font-size: xx-small;color: darkred;"
                                       th:onclick="|main.commentDelete(${post.id},${reply.id})|">
                                        삭제
                                    </a>

                                    <div th:text="${reply.comment}">{{comment}}</div>
                                    <div class="collapse" th:id="|multi-collapse-reply-edit-${reply.id}|">
                                        <form>
                                                <textarea class="form-control" id="comment-content" th:text="${reply.comment}"
                                                          rows="1">{{comment}}</textarea>
                                            <input type="hidden" th:id="comment-id" th:value="${reply.id}">
                                            <input type="hidden" th:id="post-id" th:value="${post.id}">
                                            <div align="right">
                                                <button type="button" class="btn btn-warning" id="comment-update-btn">
                                                    수정 완료
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                               </th:block>
                            </ul>


                            <form class="collapse" th:id="|multi-collapse-reply-${comment.id}|">
                                <div class="mb-3">
                                    <textarea class="form-control" id="comment-reply-content" rows="1"></textarea>
                                </div>
                                <input type="hidden" id="comment-id" th:value="${comment.id}">
                        <input type="hidden" id="post-id" th:value="${post.id}">
                                <div align="right">
                                    <button type="button" class="btn btn-info" id="comment-reply-btn">댓글 등록</button>

                                    </button>
                                </div>
                            </form>
                        </form>
                    </div>


                    <form th:class="|collapse multi-collapse-${comment.id}|">
                        <div class="form-group">
                            <textarea class="form-control" id="comment-content" rows="1" th:text="${comment.comment}">{{comment}}</textarea>
                        </div>
                        <input type="hidden" id="comment-id" th:value="${comment.id}">
                        <input type="hidden" id="post-id" th:value="${post.id}">
                        <div align="right">
                            <button type="button" class="btn btn-warning" id="comment-update-btn">수정 완료</button>
                        </div>
                    </form>

                </li>
            </th:block>
        </ul>
    </div>
</div>

<form class="container">
    <div class="mb-3">
        <input class="form-control" id="input-write-comment" rows="1" name="comment" placeholder="댓글 입력">
    </div>
    <div align="right">
        <button type="button" class="btn btn-primary btn-lg" id="comment-write-btn"
                th:onclick="|main.commentWrite(${post.id})|">댓글 등록
        </button>
    </div>
</form>


<script>
    const main = {
        init: function () {

            const _this = this;

            // 댓글 수정 버튼 클릭시
            const updateBtns = document.querySelectorAll('#comment-update-btn');

            updateBtns.forEach(function (item) {
                item.addEventListener('click', function () {
                    var form = this.closest('form');
                    _this.commentUpdate(form);
                });
            });

            // 대댓글 작성 버튼 클릭시
            const replyBtns = document.querySelectorAll('#comment-reply-btn');

            replyBtns.forEach(function (item) {
                item.addEventListener('click', function () {
                    var form = this.closest('form');
                    _this.replyCommentWrite(form);
                });
            });


        },
        /** 게시글 삭제 **/
        postDelete: function (postId) {

            const con_check = confirm("게시글을 삭제 하시겠습니까?");

            if (con_check === true) {
                axios.delete("/api/v1/posts/" + postId, {
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${localStorage.getItem("token")}`
                        }
                    }
                ).then((response) => {
                        console.log(response);
                        alert("게시글이 삭제되었습니다.")
                        window.location.href = '/posts';
                    }
                ).catch((error) => {
                    console.log(error.response.data.result);
                    if (error.response.data.result["errorCode"] == "EXPIRED_TOKEN") {
                        alert("토큰이 만료되었으니 다시 로그인 해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "USER_NOT_MATCH") {
                        alert("본인이 작성한 게시글만 삭제할 수 있습니다.");
                    } else if (error.response.data.result["errorCode"] == "TOKEN_NOT_FOUND") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "INVALID_TOKEN") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else {
                        alert("문제가 발생했습니다. 에러가 계속된다면 관리자에게 문의해주세요");
                    }
                });
            }
        },

        /** 댓글 작성 **/
        commentWrite: function (postId) {

            let data = {
                comment: document.querySelector('#input-write-comment').value.trim()
            };

            console.log(data);


            const con_check = confirm("댓글을 작성 하시겠습니까?");

            if (con_check === true) {
                axios.post("/api/v1/posts/" + postId + "/comments",
                    JSON.stringify(data), { // dto 처럼 만든 객체 data를 stringify 함수로 JSON 형식으로 만든다.
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${localStorage.getItem("token")}`
                        }
                    }
                ).then((response) => {
                    alert("댓글 작성이 완료되었습니다.");
                    window.location.href = '/posts/' + postId;
                }).catch((error) => {
                    if (error.response.data.result["errorCode"] == "EXPIRED_TOKEN") {
                        alert("토큰이 만료되었으니 다시 로그인 해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "INVALID_TOKEN") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "TOKEN_NOT_FOUND") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "BLANK_NOT_ALLOWED") {
                        alert("댓글 내용을 입력해주세요");
                    } else {
                        alert("문제가 발생했습니다. 에러가 계속된다면 관리자에게 문의해주세요");
                    }
                });
            }
        },

        replyCommentWrite: function (form) {

            const commentId = form.querySelector('#comment-id').value;
            const postId = form.querySelector('#post-id').value;

            const data = {
                replyComment: form.querySelector('#comment-reply-content').value
            }

            console.log(data);


            const con_check = confirm("댓글을 작성 하시겠습니까?");

            if (con_check === true) {
                axios.post("/api/v1/posts/" + postId + "/comments/" + commentId,
                    JSON.stringify(data), { // dto 처럼 만든 객체 data를 stringify 함수로 JSON 형식으로 만든다.
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${localStorage.getItem("token")}`
                        }
                    }
                ).then((response) => {
                    alert("댓글 작성이 완료되었습니다.");
                    window.location.href = '/posts/' + postId;
                }).catch((error) => {
                    if (error.response.data.result["errorCode"] == "EXPIRED_TOKEN") {
                        alert("토큰이 만료되었으니 다시 로그인 해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "INVALID_TOKEN") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "TOKEN_NOT_FOUND") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "BLANK_NOT_ALLOWED") {
                        alert("댓글 내용을 입력해주세요");
                    } else {
                        alert("문제가 발생했습니다. 에러가 계속된다면 관리자에게 문의해주세요");
                    }
                });
            }
        },


        /** 댓글 수정 */
        commentUpdate: function (form) {

            const commentId = form.querySelector('#comment-id').value;
            const postId = form.querySelector('#post-id').value;

            const data = {
                comment: form.querySelector('#comment-content').value
            }
            console.log(data);

            const url = `/api/v1/posts/${postId}/comments/${commentId}`;
            console.log(url);

            const con_check = confirm("수정하시겠습니까?");

            if (con_check === true) {
                axios.put(url,
                    JSON.stringify(data), {
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${localStorage.getItem("token")}`
                        }
                    }
                ).then((response) => {
                        console.log(response);
                        alert("댓글이 수정되었습니다.")
                        window.location.href = '/posts/' + postId;
                    }
                ).catch((error) => {
                    console.log(error.response.data.result);
                    if (error.response.data.result["errorCode"] == "EXPIRED_TOKEN") {
                        alert("토큰이 만료되었으니 다시 로그인 해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "USER_NOT_MATCH") {
                        alert("본인이 작성한 댓글만 수정할 수 있습니다.");
                    } else if (error.response.data.result["errorCode"] == "INVALID_TOKEN") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "TOKEN_NOT_FOUND") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "BLANK_NOT_ALLOWED") {
                        alert("수정할 댓글 내용을 입력해주세요");
                    } else {
                        alert("문제가 발생했습니다. 에러가 계속된다면 관리자에게 문의해주세요");
                    }
                });
            }
        },

        /** 댓글 삭제 */
        commentDelete: function (postId, commentId) {

            const url = `/api/v1/posts/${postId}/comments/${commentId}`;
            console.log(url);

            const con_check = confirm("삭제하시겠습니까?");

            if (con_check === true) {

                axios.delete(url, {
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${localStorage.getItem("token")}`
                        }
                    }
                ).then((response) => {
                        console.log(response);
                        alert("댓글이 삭제되었습니다.")
                        window.location.href = '/posts/' + postId;
                    }
                ).catch((error) => {
                    console.log(error.response.data.result);
                    if (error.response.data.result["errorCode"] == "EXPIRED_TOKEN") {
                        alert("토큰이 만료되었으니 다시 로그인 해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "USER_NOT_MATCH") {
                        alert("본인이 작성한 댓글만 삭제할 수 있습니다.");
                    } else if (error.response.data.result["errorCode"] == "TOKEN_NOT_FOUND") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "INVALID_TOKEN") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else {
                        alert("문제가 발생했습니다. 에러가 계속된다면 관리자에게 문의해주세요");
                    }
                });
            }
        },

        /** 좋아요 클릭 **/
        likeCreate: function (postId) {

            const data = null;
            const con_check = confirm("좋아요를 누르시겠습니까?");

            const url = "/api/v1/posts/" + postId + "/likes";

            if (con_check === true) {
                axios.post(url, data, {
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${localStorage.getItem("token")}`
                        }
                    }
                ).then((response) => {
                        console.log(response);
                        alert("💖")
                        window.location.href = '/posts/' + postId;
                    }
                ).catch((error) => {
                    console.log(error.response.data.result);
                    console.log(error.response)
                    console.log(url);
                    if (error.response.data.result["errorCode"] == "EXPIRED_TOKEN") {
                        alert("토큰이 만료되었으니 다시 로그인 해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "INVALID_TOKEN") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "TOKEN_NOT_FOUND") {
                        alert("로그인 후 이용해주세요");
                        // window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "FORBIDDEN_ADD_LIKE") {
                        alert("좋아요는 한번만 입력할 수 있습니다.");
                        window.location.href = '/posts/' + postId;
                    } else {
                        alert("문제가 발생했습니다. 에러가 계속된다면 관리자에게 문의해주세요");
                    }
                });
            }
        }
    };

    main.init();
</script>
