{{>layouts/header}}



<form class="container">
    <table class="table table-striped table-hover">
        <thead class="table-primary">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">제목</th>
            <th scope="col">회원 이름</th>
            <th scope="col">작성 날짜</th>
        </tr>
        </thead>
        <tbody>
        {{#posts}}
            <tr>
                <th scope="row">{{id}}</th>
                <td><a href="/posts/{{id}}">{{title}}</a></td>

                <th scope="row">{{userName}}</th>
                <th scope="row">{{createdAt}}</th>
            </tr>
        {{/posts}}
        </tbody>
    </table>

    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a></li>
    </ul>
</form>
<form class="container justify-content-center " form action="/posts/write" method="get">
    <div align="right">
        <button class="btn btn-primary" type="submit">게시글 작성</button>
    </div>
</form>
<br>
<form class="form-inline w-100 justify-content-center ">

    <div class="selectBox">
        <select name="searchCondition" class="select">
            <option value="titleCon">제목 검색</option>
            <option value="userNameCon">회원명 검색</option>
        </select>
    </div>

    <input class="form-control me-sm-2" type="search" placeholder="검색">
    <button class="btn btn-light my-2 my-sm-0" type="submit">검색</button>
</form>
<br>
<br>


<br>
