{{>layouts/header}}

{{#loginUserName}}
    <div align="right">
    <h2> {{loginUserName}} 님 로그인 중</h2>
    </div>

    <div align="center">
        <form class="container" form action="/users/logout" method="get">
            <br>
            <button class="btn btn-success btn-lg" type="submit" style="width: 25%">로그아웃</button>
        </form>
    </div>
{{/loginUserName}}
<br>
<form class="container">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">제목</th>
            <th scope="col">회원 이름</th>
            <th scope="col">작성 날짜</th>
        </tr>
        </thead>
        <tbody>
        {{#posts}}
            <tr>
                <th scope="row">{{id}}</th>
                <td><a href="/posts/{{id}}">{{title}}</a></td>

                <th scope="row">{{userName}}</th>
                <th scope="row">{{createdAt}}</th>
            </tr>
        {{/posts}}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a></li>
    </ul>
</form>

<br>
<br>

<form class="container" form action="/posts/write" method="get">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">게시글 작성</button>
    </div>
</form>
<br>

<form class="container" form action="/" method="get">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">홈 화면 이동</button>
    </div>
</form>