{{>layouts/header}}
    <div class = "container" align="center">
        <h2>✍🏻 내가 작성한 게시글</h2>
    </div>
    <br>
<div class="container" style="display: flex;justify-content: space-between;flex-wrap: wrap ">
    {{#myPosts}}
        <div class="card border-primary mb-3" style="width: 30%;height: 100% ;">

            <div class="card-body">
                <h4 class="card-title"><a href="/posts/{{id}}">{{id}}. {{title}}   </a></h4>
                <h6 class="card-subtitle"> {{createdAt}} </h6>
                <hr style="border-top: 1px solid #bbb; border-bottom: 1px solid #fff">
                <br>
                <p class="card-text" style="background-color: #fff9ec"><a href="/posts/{{id}}">{{body}}</a></p>
                <hr style="border-top: 1px solid #bbb; border-bottom: 1px solid #fff">

                <p style="float: left;color: darkred"> 💖 : {{likeNum}}  </p>
                <p style="float: right;color: #78C2AD"> 💬 : {{commentNum}}</p>

            </div>
        </div>
        <br>
    {{/myPosts}}
</div>
<div class = "container" align="center">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="?page={{previous}}" >← </a> </li>
        <li class="page-item"><a class="page-link" href="?page={{next}}">→ </a> </li>
    </ul>
</div>