<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<th:block th:replace="layout/header :: headerFragment"></th:block>
<form class="container">

    <div class="mb-3">
        <label class="form-label">게시글 제목</label>
        <textarea class="form-control" rows="1" name="title" id="input-title" placeholder="제목을 입력하세요"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">게시글 내용</label>
        <textarea class="form-control" rows="10" name="body" id="input-body" placeholder="내용을 입력하세요"></textarea>
    </div>
    <div align="center">

        <button type="button" class="btn btn-primary" id="post-write-btn" onclick="post.postCreate()"
                style="width:120px;height:40px;font-size: 15px">게시글 작성
        </button>
        <button type="button" class="btn btn-danger btn-lg" onclick="location.href = '/posts' "
                style="width:120px;height:40px;font-size: 15px">작성 취소
        </button>
    </div>
</form>

<Script>
    let post = {

        init: function () {
            var _this = this;
        },


        postCreate: function () {
            let data = {
                title: document.querySelector('#input-title').value.trim(),
                body: document.querySelector('#input-body').value,
            };
            console.log(data);

            const con_check = confirm("게시글을 작성 하시겠습니까?");

            if (con_check === true) {

                axios.post("/api/v1/posts",
                        JSON.stringify(data), {
                            headers: {
                                'Content-Type': 'application/json',
                                'Authorization': `Bearer ${localStorage.getItem("token")}`
                            }
                        }
                ).then((response) => {
                    alert("게시글 작성이 완료되었습니다.");
                    window.location.href = '/posts';
                }).catch((error) => {
                    if (error.response.data.result["errorCode"] == "EXPIRED_TOKEN") {
                        alert("토큰이 만료되었으니 다시 로그인 해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "INVALID_TOKEN") {
                        alert("로그인 후 이용해주세요");
                        window.location.href = '/users/login';
                    } else if (error.response.data.result["errorCode"] == "BLANK_NOT_ALLOWED") {
                        alert("제목이나 내용을 입력해주세요");
                    } else {
                        alert("문제가 발생했습니다. 에러가 계속된다면 관리자에게 문의해주세요");
                    }
                });
            }
        }
    };
    post.init();
</script>