{{>layouts/header}}
<form class="container">

    <div class="mb-3">
        <label class="form-label">게시글 제목</label>
        <textarea class="form-control" rows="1" name="title" id="input-title" placeholder="제목을 입력하세요"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">게시글 내용</label>
        <textarea class="form-control" rows="10" name="body" id="input-body" placeholder="내용을 입력하세요"></textarea>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto" align="center">
        <button type="button" class="btn btn-primary" id="post-write-btn">게시글 작성</button>
    </div>

</form>

<Script>
    let post = {

        init: function () {

            var _this = this;

            const createBtn = document.querySelector('#post-write-btn');

            createBtn.addEventListener('click', _this.create);
        },


        create: function () {
            let data = {
                title: document.querySelector('#input-title').value.trim(),
                body: document.querySelector('#input-body').value,
            };
            console.log(data);

            if (data.title == null || data.title == "") {
                alert('제목이 비어있습니다. 입력해주세요.');
                return;
            }
            if (data.body == null|| data.body == "") {
                alert('내용이 비어있습니다. 입력해주세요.');
                return;
            }

            axios.post("/api/v1/posts",
                    JSON.stringify(data), {
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${localStorage.getItem("token")}`
                        }
                    }
            ).then((response) => {
                alert("게시글 작성이 완료되었습니다.");
                window.location.href = '/posts';
            }).catch((error) => {
                if (error.response.data.result["errorCode"] == "EXPIRED_TOKEN") {
                    alert("토큰이 만료되었으니 다시 로그인 해주세요");
                }else if(error.response.data.result["errorCode"] =="TOKEN_NOT_FOUND"){
                    alert("로그인 후 이용해주세요");
                }else if(error.response.data.result["errorCode"] =="INVALID_TOKEN"){
                    alert("다시 로그인 후 이용해주세요");
                }else if(error.response.data.result["errorCode"] =="DATABASE_ERROR"){
                    alert("DB 에러가 발생했습니다.");
                }else if(error.response.data.result["errorCode"] =="USERNAME_NOT_FOUND"){
                    alert("가입된 회원이 아닙니다. 회원가입 후 진행해주세요");
                }
            });
        }
    };
    post.init();
</script>