{{>layouts/header}}

<br><br><br>

<div class="form-group" align="center">
    <h3>Welcome 🤗</h3>
    <br>
    <div class="form-floating mb-3">
        <label for="floatingInput">회원 명</label>
        <input name="userName" type="text" class="form-control" id="input-userName" placeholder="회원명을 입력하세요" style="width:300px;height:50px;">
    </div>
    <div class="form-floating">
        <label for="floatingPassword">비밀번호</label>
        <input name="password" class="form-control" id="input-password" placeholder="비밀번호를 입력하세요" style="width:300px;height:50px;">
    </div>

    <br>

    <button type="button" class="btn btn-primary" id="user-create-btn">회원가입</button>
</div>


<Script>

    let user = {

        init: function () {

            var _this = this;

            const createBtn = document.querySelector('#user-create-btn');

            createBtn.addEventListener('click', _this.create);
        },


        create: function () {

            let data = {
                userName: document.querySelector('#input-userName').value.trim(),
                password: document.querySelector('#input-password').value.trim(),
            };
            var blank_pattern = /[\s]/g;

            if (blank_pattern.test(data.userName) == true || data.userName == '') {
                alert('회원명에 공백이 입력되었습니다. 다시 입력해주세요');
                return;
            }
            if (blank_pattern.test(data.password) == true || data.password == '') {
                alert('비밀번호에 공백이 입력되었습니다. 다시 입력해주세요');
                return;
            }


            axios.post("/api/v1/users/join",
                    JSON.stringify(data), {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
            ).then((response) => {
                alert("회원가입이 완료되었습니다.");
                window.location.href = '/';
            }).catch((error) => {
                console.log(error.response.data.result["errorCode"])
                if (error.response.data.result["errorCode"] == "DUPLICATED_USER_NAME") {
                    alert("이미 가입된 회원입니다. 다른 회원명을 입력해주세요.");
                }
            });
        }
    };
    user.init();
</script>