{{>layouts/header}}
<br>
<br>
<br>
<br>

<div align="center">


    <H1>😊 홈 화면 입니다. 😊</H1>
    <br>



    {{#loginUserName}}
        <h2> {{loginUserName}} 님 환영합니다. 게시판으로 이동해서 게시글을 작성해주세요! ✍🏻</h2>
    {{/loginUserName}}
    {{^loginUserName}}
        <h2>🙇🏻‍♂오른쪽 상단 bar 에서 회원가입 후 로그인하시면 게시글 작성이 가능합니다.👆🏻️</h2>
    {{/loginUserName}}

    <img src="https://raw.githubusercontent.com/buinq/imageServer/main/img/image-20221231220401516.png"
         alt="image-20221231220401516" style="zoom:80%;"/>

</div>
