{{>layouts/header}}
<br>
<br>
<br>
<br>

<div align="center">
    <H1>홈 화면 입니다.</H1>

    <hr>
    <hr>

    <br>

    <form class="container" form action="/users/join" method="get">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">회원가입</button>
        </div>
    </form>
    <br>
    <br>


    <form class="container" form action="/users/login" method="get">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">로그인</button>
        </div>
    </form>
</div>
